.company {
    margin-bottom: 20px;
    margin-top: 20px;
}

.companyName {
    margin-top: 10px;
}

.subtext {
    color: #d1d1d1;
    font-weight: bold;
}

.role {
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    margin-top: 10px;
    margin-right: 20px;
}

.descriptionLine {
    margin-top: 5px;
}